<h2>Add Employee</h2>
<div class="continer mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Add Employee - Step {{step}}</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="employeeFrom" (ngSubmit)="handleSubmit()">
                <div *ngIf="step == 1" class="mb-2">
                    <label class="form-label">Employee Name</label>
                    <input type="text" class="form-control" formControlName="empName">
                    <div class="text-danger" *ngIf="getFormControl('empName').invalid && getFormControl('empName').touched">
                        <p *ngIf="getFormControl('empName').hasError('required')">Name is required</p>
                    </div>
                </div>
                <div *ngIf="step == 2" class="mb-2">
                    <label class="form-label">Employee Email</label>
                    <input type="email" class="form-control" formControlName="empEmail">
                    <div class="text-danger" *ngIf="getFormControl('empEmail').invalid && getFormControl('empEmail').touched">
                        <p *ngIf="getFormControl('empEmail').hasError('required')">Email is required</p>
                        <p *ngIf="getFormControl('empEmail').hasError('email')">Email is invalid</p>
                    </div>
                </div>
                <div *ngIf="step == 3" class="mb-2">
                    <label class="form-label">Employee Salary</label>
                    <input type="text" class="form-control" formControlName="empSalary">
                    <div class="text-danger" *ngIf="getFormControl('empSalary').invalid && getFormControl('empSalary').touched">
                        <p *ngIf="getFormControl('empSalary').hasError('required')">Salary is required</p>
                        <p *ngIf="getFormControl('empSalary').hasError('min')">Salary is invalid</p>
                    </div>
                </div>
                <div *ngIf="step == 4" class="mb-2">
                    <label class="form-label">Employee Photo:</label>
                    <input class="form-control" type="file" (change)="onFileSelected($event)" required accept=".pdf,.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                </div>
                <div class="mb-2">
                    <button type="button" class="btn btn-secondary" (click)="prevStep()" *ngIf="step > 1">Previous</button>
                    <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="step < 4">Next</button>
                    <button [disabled]="employeeFrom.invalid" type="submit" *ngIf="step == 4" class="btn btn-success">Add Employee</button>
                    <p *ngIf="successMessage" class="text-success">{{successMessage}}</p>
                    <p *ngIf="errorMessage" class="text-danger">{{errorMessage | json}}</p>
                </div>
            </form>
        </div>
    </div>
</div>
